/* ==========================================================================
   Your custom CSS styles
   ========================================================================== */

.header-div{
    background-repeat: no-repeat;
    max-width:100%
}

/* ==========================================================================
   Your custom CSS styles for smartphones and screens smaller than 480 px
   ========================================================================== */

 @media only screen and (min-width: 200px) and (max-width: 767px) {
    .header-div {
        height: 200px;
        background-size: cover;
        background-image: url('/images/banner-mobile.jpg');
    }
}

 @media only screen and (min-width: 768px) and (max-width: 1024px){
 .header-div {
    height: 250px;
    background-size:cover;
    background-image: url('/images/banner-tablet.jpg');
 }
}

 @media only screen and (min-width: 1024px) {
     .header-div {
         height: 275px;
         background-size: contain;
         background-image: url('/images/banner-desktop.jpg');
     }
 }
 @media only screen and (min-width: 1320px) {
     .header-div {
         height: 275px;
         background-size: cover;
         background-image: url('/images/banner-desktop.jpg');
     }
 }
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Clearfix
 * Adding a 'clearfix' class will allow parent elements to contain a floated child element
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
